Repository demisto/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @demisto/content-leaders, @michalgold, @guyfreund, @jochman, @yaakovi, @avidan-H, @DinaMeylakh

.github/CODEOWNERS:

# Marketplace Related
/Tests/Marketplace/approved_tags.json @demisto/content-leaders @michalgold
/Tests/Marketplace/approved_usecases.json @demisto/content-leaders @michalgold
/Tests/Marketplace/landingPage_sections.json @demisto/content-leaders @michalgold

# Marketplace & Upload-Flow
/Tests/Marketplace/upload_git_snapshot.py @guyfreund
/Tests/Marketplace/install_packs.sh @guyfreund
/Tests/Marketplace/configure_and_install_packs.py @guyfreund
/Tests/Marketplace/copy_and_upload_packs.py @guyfreund
/Tests/Marketplace/marketplace_services.py @guyfreund
/Tests/Marketplace/marketplace_statistics.py @guyfreund
/Tests/Marketplace/marketplace_constants.py @guyfreund
/Tests/Marketplace/zip_packs.py @guyfreund
/Tests/Marketplace/upload_packs.py @guyfreund
/Tests/Marketplace/packs_dependencies.py @guyfreund
/Tests/Marketplace/search_and_install_packs.py @guyfreund
/Tests/scripts/prepare_content_packs_for_testing.sh @guyfreund
/Utils/trigger_test_upload_flow.sh @guyfreund
/Utils/trigger_upload_packs_to_production.sh @guyfreund

# Important Integrations
/Packs/Jira/Integrations/JiraV2/* @demisto/content-leaders
/Packs/ServiceNow/Integrations/ServiceNowv2/* @demisto/content-leaders
/Packs/EWS/Integrations/EWSv2/* @demisto/content-leaders
/Packs/ArcSightESM/Integrations/ArcSightESMv2/* @demisto/content-leaders
/Packs/QRadar/Integrations/QRadar_v2/* @demisto/content-leaders
/Packs/Slack/Integrations/Slack/* @demisto/content-leaders
/Packs/SplunkPy/Integrations/SplunkPy/* @demisto/content-leaders
/Packs/Active_Directory_Query/Integrations/Active_Directory_Query/* @demisto/content-leaders
/Packs/VirusTotal/Integrations/integration-VirusTotal_5.5.yml @demisto/content-leaders
/Packs/VirusTotal/* @jochman

# Important Scripts
/Packs/CommonScripts/Scripts/SetGridField/* @yaakovi
/Packs/CommonScripts/Scripts/SearchIncidentsV2/* @demisto/content-leaders

# Build related
.circleci/config.yml @avidan-H @DinaMeylakh
.gitlab/ci/* @avidan-H @DinaMeylakh
.gitlab/* @avidan-H @DinaMeylakh
.gitlab-ci.yml @avidan-H @DinaMeylakh

Added dest path prints
  Tests/Marketplace/zip_packs.py
Owners: @guyfreund

Update 1_0_12.md
  Packs/FireEyeHX/ReleaseNotes/1_0_12.md
Owners: none

Added release notes.
  Packs/RecordedFuture/ReleaseNotes/1_1_2.md
Owners: none

Update pack_metadata.json
  Packs/FireEyeHX/pack_metadata.json
Owners: none

update README.md
  Packs/F5Silverline/Integrations/F5Silverline/README.md
Owners: none

Update playbook-Illusive-Collect-Forensics-On-Demand.yml
  Packs/IllusiveNetworks/Playbooks/playbook-Illusive-Collect-Forensics-On-Demand.yml
Owners: none

Added layout description.
  Packs/SplunkPy/Layouts/layoutscontainer-Splunk_Notable_Generic.json
Owners: none

Update 1_0_8.md
  Packs/IllusiveNetworks/ReleaseNotes/1_0_8.md
Owners: none

change RN version
  Packs/Base/pack_metadata.json
Owners: none

update README.md
  Packs/F5Silverline/README.md
Owners: none

CR Fixes
  Packs/FeedUnit42v2/Integrations/FeedUnit42v2/FeedUnit42v2.py
  Packs/FeedUnit42v2/Integrations/FeedUnit42v2/FeedUnit42v2.yml
  Packs/FeedUnit42v2/pack_metadata.json
Owners: none

Add FORCE_COLOR env variable
  .gitlab-ci.yml
Owners: @avidan-H, @DinaMeylakh

fix some code style
  Packs/F5Silverline/Integrations/F5Silverline/F5Silverline.py
  Packs/F5Silverline/Integrations/F5Silverline/F5Silverline.yml
Owners: none

fixed UT
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2.py
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2_test.py
  Packs/CheckpointFirewall/ReleaseNotes/2_0_8.md
  Packs/CheckpointFirewall/pack_metadata.json
Owners: none

RN
  Packs/CheckpointFirewall/ReleaseNotes/2_0_8.md
Owners: none

fix lint
  Packs/F5Silverline/Integrations/F5Silverline/F5Silverline_test.py
Owners: none

yml desc
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2.yml
Owners: none

Old download
  Tests/Marketplace/zip_packs.py
Owners: @guyfreund

yml desc
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2.yml
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/README.md
Owners: none

rn
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2.yml
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/README.md
Owners: none

rn
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/CheckPointFirewall_v2.yml
Owners: none

readme
  Packs/CheckpointFirewall/Integrations/CheckPointFirewall_v2/README.md
Owners: none

replace back slash with forward slash
  Packs/MailListener/Integrations/MailListenerV2/MailListenerV2.py
  Packs/MailListener/Integrations/MailListenerV2/MailListenerV2.yml
  Packs/MailListener/ReleaseNotes/1_0_4.md
  Packs/MailListener/pack_metadata.json
Owners: none

fixing email context output (#12774)
  Packs/Base/ReleaseNotes/1_10_29.md
  Packs/Base/Scripts/CommonServerPython/CommonServerPython.py
  Packs/Base/pack_metadata.json
  Packs/IPQualityScore/Integrations/IPQualityScore/README.md
  Packs/Threat_Crowd/Integrations/ThreatCrowd_v2/README.md
Owners: none

fixing email context output (#12774)
  Packs/Base/ReleaseNotes/1_10_29.md
  Packs/Base/Scripts/CommonServerPython/CommonServerPython.py
  Packs/Base/pack_metadata.json
  Packs/IPQualityScore/Integrations/IPQualityScore/README.md
  Packs/Threat_Crowd/Integrations/ThreatCrowd_v2/README.md
Owners: none

fixing email context output (#12774)
  Packs/Base/ReleaseNotes/1_10_29.md
  Packs/Base/Scripts/CommonServerPython/CommonServerPython.py
  Packs/Base/pack_metadata.json
  Packs/IPQualityScore/Integrations/IPQualityScore/README.md
  Packs/Threat_Crowd/Integrations/ThreatCrowd_v2/README.md
Owners: none

Update Safewalk_Management.yml
  Packs/Safewalk/Integrations/Safewalk_Management/Safewalk_Management.yml
Owners: none

Update Safewalk_Reports.yml
  Packs/Safewalk/Integrations/Safewalk_Reports/Safewalk_Reports.yml
Owners: none

Update Safewalk_Reports.yml
  Packs/Safewalk/Integrations/Safewalk_Reports/Safewalk_Reports.yml
Owners: none

change name UTs
  Packs/Base/Scripts/DBotTrainClustering/dbottrainclustering_test.py
Owners: none

change name UTs
  Packs/Base/ReleaseNotes/1_10_30.md
Owners: none

change name UTs
  Packs/Base/pack_metadata.json
Owners: none

Update Safewalk_Management.yml
  Packs/Safewalk/Integrations/Safewalk_Management/Safewalk_Management.yml
Owners: none

Update Safewalk_Reports.yml
  Packs/Safewalk/Integrations/Safewalk_Reports/Safewalk_Reports.yml
Owners: none

define output, update readme, underscore for arguments
  Packs/SumoLogic_Cloud_SIEM/Integrations/SumoLogic_Cloud_SIEM/README.md
  Packs/SumoLogic_Cloud_SIEM/Integrations/SumoLogic_Cloud_SIEM/SumoLogic_Cloud_SIEM.py
  Packs/SumoLogic_Cloud_SIEM/Integrations/SumoLogic_Cloud_SIEM/SumoLogic_Cloud_SIEM.yml
Owners: none

Add script and widgets
  Packs/CortexXDR/Scripts/DBotGroupXDRIncidents/DBotGroupXDRIncidents.py
  Packs/CortexXDR/Scripts/DBotGroupXDRIncidents/DBotGroupXDRIncidents.yml
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Incidents.json
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Scatter.json
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Summary.json
Owners: none

Apply suggestions from code review
  Packs/CiscoWebExFeed/ReleaseNotes/1_1_2.md
Owners: none

add server version
  Packs/CortexXDR/Dashboards/dashboard-Cortex_XDR_Events_Grouping.json
  Packs/CortexXDR/Scripts/DBotGroupXDRIncidents/DBotGroupXDRIncidents.yml
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Incidents.json
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Scatter.json
  Packs/CortexXDR/Widgets/Widget-Cortex_XDR_Groups_Summary.json
Owners: none

Different url
  Tests/Marketplace/zip_packs.py
Owners: @guyfreund

add range x & y
  Packs/Base/Scripts/DBotTrainClustering/DBotTrainClustering.py
Owners: none
