Repository demisto/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glicht, @bakatzir, @GuyLibermanPA, @yaakovpraisler, @dorschw, @DeanArbel, @GuyAfik, @demisto/content-leaders, @tkatzir, @adi88d, @yaakovi, @altmannyarden, @moishce, @michalgold, @idovandijk, @esharf, @daryakoval, @dansterenson, @ilaner

.github/CODEOWNERS:

# Marketplace Related - Marketplace PMs only
/Tests/Marketplace/approved_tags.json @glicht @bakatzir @GuyLibermanPA
/Tests/Marketplace/approved_usecases.json @glicht @bakatzir @GuyLibermanPA
/Tests/Marketplace/landingPage_sections.json @glicht @bakatzir @GuyLibermanPA
/Tests/Marketplace/approved_categories.json @glicht @bakatzir @GuyLibermanPA

# Marketplace & Upload-Flow
/Tests/Marketplace/upload_git_snapshot.py @yaakovpraisler
/Tests/Marketplace/install_packs.sh @yaakovpraisler
/Tests/Marketplace/configure_and_install_packs.py @yaakovpraisler
/Tests/Marketplace/copy_and_upload_packs.py @yaakovpraisler
/Tests/Marketplace/marketplace_services.py @yaakovpraisler
/Tests/Marketplace/marketplace_statistics.py @yaakovpraisler
/Tests/Marketplace/marketplace_constants.py @yaakovpraisler
/Tests/Marketplace/zip_packs.py @yaakovpraisler
/Tests/Marketplace/upload_packs.py @yaakovpraisler
/Tests/Marketplace/packs_dependencies.py @yaakovpraisler
/Tests/Marketplace/search_and_install_packs.py @yaakovpraisler
/Tests/scripts/prepare_content_packs_for_testing.sh @yaakovpraisler
/Utils/trigger_test_upload_flow.sh @yaakovpraisler
/Utils/trigger_upload_packs_to_production.sh @yaakovpraisler

# Test Collection
/Tests/scripts/collect_tests @dorschw

# PANW Products
/Packs/Palo_Alto_Networks_Enterprise_DLP/ @DeanArbel
/Packs/PAN-OS/Integrations/ @GuyAfik
/Packs/PrismaCloudCompute/Integrations/ @GuyAfik
/Packs/PrismaSaasSecurity/Integrations/ @yaakovpraisler

# Important Integrations
/Packs/Jira/Integrations/JiraV2/* @demisto/content-leaders
/Packs/ServiceNow/Integrations/ServiceNowv2/* @demisto/content-leaders
/Packs/EWS/Integrations/EWSv2/* @demisto/content-leaders
/Packs/ArcSightESM/Integrations/ArcSightESMv2/* @demisto/content-leaders
/Packs/QRadar/Integrations/QRadar_v3/* @tkatzir
/Packs/Slack/Integrations/Slack/* @demisto/content-leaders
/Packs/SplunkPy/Integrations/SplunkPy/* @demisto/content-leaders
/Packs/Active_Directory_Query/Integrations/Active_Directory_Query/* @demisto/content-leaders
/Packs/VirusTotal/Integrations/integration-VirusTotal_5.5.yml @demisto/content-leaders
/Packs/ContentManagement/* @adi88d

# Important Scripts
/Packs/CommonScripts/Scripts/SetGridField/* @yaakovi @altmannyarden
/Packs/CommonScripts/Scripts/SearchIncidentsV2/* @demisto/content-leaders
/Packs/CommonScripts/Scripts/ParseEmailFiles/* @moishce

# Common Packs
/Packs/CommonTypes/ @michalgold @idovandijk
/Packs/CommonPlaybooks/ @michalgold @idovandijk
/Packs/CommonDashboards/ @michalgold @idovandijk


# Build related
.circleci/config.yml @esharf
.gitlab/ci/* @esharf
.gitlab/* @esharf
.gitlab-ci.yml @esharf
/Tests/scripts/wait_in_line_for_xsiam_env.sh @daryakoval

# SDK Related
.gitlab/ci/sdk-nightly.yml @dorschw
Utils/trigger_nightly_sdk_build.sh @dorschw

# XDR Related
/Packs/CortexXDR/Integrations/ @dansterenson
/Packs/Core/Integrations/ @dansterenson
/Packs/ApiModules/Scripts/CoreIRApiModule/* @dansterenson

# Dependencies
pyproject.toml @ilaner
poetry.lock @ilaner

# Devcontainers
.devcontainer/* @ilaner

# Demisto Class
Packs/ApiModules/Scripts/DemistoClassApiModule/DemistoClassApiModule.py @daryakoval

update RN
  Packs/CommonScripts/ReleaseNotes/1_9_5.md
  Packs/CommonScripts/pack_metadata.json
Owners: none

changed "skipunavailable" from false to true
  Packs/CommonPlaybooks/Playbooks/playbook-Block_Indicators_-_Generic_v2.yml
Owners: @michalgold, @idovandijk

Fixes to the extraction of XDR instance domain/URL (#21868)
  Packs/CortexXDR/Playbooks/Cortex_XDR_incident_handling_v3.yml
  Packs/CortexXDR/Playbooks/Cortex_XDR_incident_handling_v3_README.md
  Packs/CortexXDR/ReleaseNotes/4_8_24.md
  Packs/CortexXDR/pack_metadata.json
Owners: none

Fixes to the extraction of XDR instance domain/URL (#21868)
  Packs/CortexXDR/Playbooks/Cortex_XDR_incident_handling_v3.yml
  Packs/CortexXDR/Playbooks/Cortex_XDR_incident_handling_v3_README.md
  Packs/CortexXDR/ReleaseNotes/4_8_24.md
  Packs/CortexXDR/pack_metadata.json
Owners: none

Omrii msdt new (#21904)
  Packs/CVE_2022_30190/Playbooks/playbook-CVE-2022-30190_-_MSDT_RCE.yml
  Packs/CVE_2022_30190/Playbooks/playbook-CVE-2022-30190_-_MSDT_RCE_README.md
  Packs/CVE_2022_30190/ReleaseNotes/1_0_4.md
  Packs/CVE_2022_30190/pack_metadata.json
Owners: none

Omrii msdt new (#21904)
  Packs/CVE_2022_30190/Playbooks/playbook-CVE-2022-30190_-_MSDT_RCE.yml
  Packs/CVE_2022_30190/Playbooks/playbook-CVE-2022-30190_-_MSDT_RCE_README.md
  Packs/CVE_2022_30190/ReleaseNotes/1_0_4.md
  Packs/CVE_2022_30190/pack_metadata.json
Owners: none

Added Test Playbook and corrections
  Packs/PaloAltoNetworks_Threat_Vault/.pack-ignore
  Packs/PaloAltoNetworks_Threat_Vault/Integrations/ThreatVaultv2/ThreatVaultv2.py
  Packs/PaloAltoNetworks_Threat_Vault/Integrations/ThreatVaultv2/ThreatVaultv2.yml
  Packs/PaloAltoNetworks_Threat_Vault/Integrations/ThreatVaultv2/ThreatVaultv2_test.py
  Packs/PaloAltoNetworks_Threat_Vault/ReleaseNotes/2_0_0.md
  Packs/PaloAltoNetworks_Threat_Vault/TestPlaybooks/ThreatVaultv2_-_Test.yml
  Tests/conf.json
Owners: none

update xdr-quarantine-files command name
  Packs/CortexXDR/Integrations/CortexXDRIR/CortexXDRIR.py
Owners: @dansterenson

added datasets field
  Tests/Marketplace/marketplace_services.py
Owners: @yaakovpraisler

final stuff
  README.md
  Utils/test_upload_flow/create_test_branch.py
  Utils/test_upload_flow/verify_bucket.py
Owners: none
