Repository demisto/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yaakovpraisler, @bakatzir, @GuyLibermanPA, @demisto/content-leaders, @GuyAfik, @JudahSchwartz, @ilaner, @dorschw, @ostolero, @DeanArbel, @Shellyber, @tkatzir, @adi88d, @altmannyarden, @moishce, @michalgold, @idovandijk, @esharf, @daryakoval, @dansterenson

.github/CODEOWNERS:

# Marketplace Related - Marketplace PMs only
/Tests/Marketplace/approved_tags.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/approved_usecases.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/landingPage_sections.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/approved_categories.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/core_packs_list.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders
/Tests/Marketplace/core_packs_mpv2_list.json @yaakovpraisler @bakatzir @GuyLibermanPA @demisto/content-leaders

# Docker native image
/Tests/docker_native_image_config.json @GuyAfik @JudahSchwartz

# Marketplace & Upload-Flow
/Tests/scripts/create_artifacts_graph/create_artifacts.py @ilaner
/Tests/Marketplace/upload_git_snapshot.py @yaakovpraisler
/Tests/Marketplace/install_packs.sh @yaakovpraisler
/Tests/Marketplace/configure_and_install_packs.py @yaakovpraisler
/Tests/Marketplace/copy_and_upload_packs.py @yaakovpraisler
/Tests/Marketplace/marketplace_services.py @yaakovpraisler @ilaner
/Tests/Marketplace/marketplace_statistics.py @yaakovpraisler
/Tests/Marketplace/marketplace_constants.py @yaakovpraisler
/Tests/Marketplace/zip_packs.py @yaakovpraisler
/Tests/Marketplace/upload_packs.py @yaakovpraisler @ilaner
/Tests/Marketplace/packs_dependencies.py @yaakovpraisler
/Tests/Marketplace/search_and_install_packs.py @yaakovpraisler
/Tests/scripts/prepare_content_packs_for_testing.sh @yaakovpraisler
/Utils/trigger_test_upload_flow.sh @yaakovpraisler
/Utils/trigger_upload_packs_to_production.sh @yaakovpraisler

# Test Collection
/Tests/scripts/collect_tests @dorschw
/Tests/scripts/collect_tests/id_set.py @ilaner
/Tests/conf.json @ostolero

# PANW Products
/Packs/Palo_Alto_Networks_Enterprise_DLP/ @DeanArbel
/Packs/PAN-OS/Integrations/ @GuyAfik
/Packs/PrismaCloudCompute/Integrations/ @GuyAfik
/Packs/PrismaSaasSecurity/Integrations/ @yaakovpraisler

# Important Integrations
/Packs/Jira/Integrations/JiraV2/* @demisto/content-leaders
/Packs/ServiceNow/Integrations/ServiceNowv2/* @demisto/content-leaders @Shellyber
/Packs/EWS/Integrations/EWSv2/* @demisto/content-leaders
/Packs/ArcSightESM/Integrations/ArcSightESMv2/* @demisto/content-leaders
/Packs/QRadar/Integrations/QRadar_v3/* @tkatzir
/Packs/Slack/Integrations/Slack/* @demisto/content-leaders
/Packs/SplunkPy/Integrations/SplunkPy/* @demisto/content-leaders
/Packs/Active_Directory_Query/Integrations/Active_Directory_Query/* @demisto/content-leaders
/Packs/VirusTotal/Integrations/integration-VirusTotal_5.5.yml @demisto/content-leaders
/Packs/ContentManagement/* @adi88d

# Important Scripts
/Packs/CommonScripts/Scripts/SetGridField/* @altmannyarden
/Packs/CommonScripts/Scripts/SearchIncidentsV2/* @demisto/content-leaders
/Packs/CommonScripts/Scripts/ParseEmailFiles/* @moishce

# Common Packs
/Packs/CommonTypes/ @michalgold @idovandijk
/Packs/CommonPlaybooks/ @michalgold @idovandijk
/Packs/CommonDashboards/ @michalgold @idovandijk


# Build related
.circleci/config.yml @esharf
.gitlab/ci/* @esharf
.gitlab/* @esharf
.gitlab-ci.yml @esharf
.gitlab/ci/on-push.yml @daryakoval
/Tests/scripts/wait_in_line_for_cloud_env.sh @daryakoval
.gitlab/ci/staging.yml @ilaner
/Tests/scripts/uninstall_packs_and_reset_bucket_cloud.sh @daryakoval
/Tests/Marketplace/search_and_uninstall_pack.py @daryakoval
/Tests/scripts/install_content_and_test_integrations.sh @daryakoval
/Tests/configure_and_test_integration_instances.py @daryakoval
/Tests/scripts/print_cloud_machine_details.sh @daryakoval
/Tests/scripts/run_tests.sh @daryakoval

# SDK Related
.gitlab/ci/sdk-nightly.yml @dorschw
Utils/trigger_nightly_sdk_build.sh @dorschw

# XDR Related
/Packs/CortexXDR/Integrations/ @dansterenson
/Packs/Core/Integrations/ @dansterenson
/Packs/ApiModules/Scripts/CoreIRApiModule/* @dansterenson

# Dependencies
pyproject.toml @ilaner
poetry.lock @ilaner

# Devcontainers
.devcontainer/* @ilaner

# Demisto Class
Packs/ApiModules/Scripts/DemistoClassApiModule/DemistoClassApiModule.py @daryakoval

convert to list
  Tests/Marketplace/marketplace_services.py
Owners: @yaakovpraisler, @ilaner

Upload testing flow (#21245)
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/on-push.yml
  Tests/Marketplace/marketplace_services.py
  Utils/test_upload_flow/TestUploadFlow/IndicatorTypes/reputation-TestUploadFlowIndicatortype.json
  Utils/test_upload_flow/create_test_branch.py
  Utils/test_upload_flow/verify_bucket.py
  Utils/test_upload_flow/wait_for_upload.py
  Utils/trigger_private_build.py
  Utils/trigger_test_upload_flow.sh
Owners: @esharf, @daryakoval, @yaakovpraisler, @ilaner

Upload testing flow (#21245)
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/on-push.yml
  Tests/Marketplace/marketplace_services.py
  Utils/test_upload_flow/TestUploadFlow/IndicatorTypes/reputation-TestUploadFlowIndicatortype.json
  Utils/test_upload_flow/create_test_branch.py
  Utils/test_upload_flow/verify_bucket.py
  Utils/test_upload_flow/wait_for_upload.py
  Utils/trigger_private_build.py
  Utils/trigger_test_upload_flow.sh
Owners: @esharf, @daryakoval, @yaakovpraisler, @ilaner

Upload testing flow (#21245)
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/on-push.yml
  Tests/Marketplace/marketplace_services.py
  Utils/test_upload_flow/TestUploadFlow/IndicatorTypes/reputation-TestUploadFlowIndicatortype.json
  Utils/test_upload_flow/create_test_branch.py
  Utils/test_upload_flow/verify_bucket.py
  Utils/test_upload_flow/wait_for_upload.py
  Utils/trigger_private_build.py
  Utils/trigger_test_upload_flow.sh
Owners: @esharf, @daryakoval, @yaakovpraisler, @ilaner

layout that was missed
  Packs/ProofpointTAP/Layouts/layoutscontainer-ProofPointTAP_Message_Layout.json
  Packs/ProofpointTAP/ReleaseNotes/1_1_25.md
Owners: none

incresed tpb timeout for polling
  Tests/conf.json
Owners: @ostolero

fix fortiweb name
  Packs/FortinetFortiwebVM/pack_metadata.json
Owners: none

merged conflicts with anoter PR
  Packs/MicrosoftTeams/ReleaseNotes/1_4_0.md
  Packs/MicrosoftTeams/pack_metadata.json
Owners: none

updated release notes
  Packs/TaniumThreatResponse/ReleaseNotes/2_1_6.md
  Packs/TaniumThreatResponse/pack_metadata.json
Owners: none

revert downgrade of docker
  Packs/MicrosoftTeams/Integrations/MicrosoftTeamsWebhook/MicrosoftTeamsWebhook.yml
  Packs/MicrosoftTeams/Integrations/MicrosoftTeamsWebhook/README.md
Owners: none

fix lastrun with missing event_type
  Packs/Netskope/Integrations/NetskopeEventCollector/NetskopeEventCollector.py
  Packs/Netskope/ReleaseNotes/3_0_8.md
  Packs/Netskope/pack_metadata.json
Owners: none

relaese notes
  Packs/ProofpointTAP/ReleaseNotes/1_1_26.md
  Packs/ProofpointTAP/pack_metadata.json
Owners: none

Fixed issue where default content format for metrics type was JSON.
  Packs/Base/Scripts/CommonServerPython/CommonServerPython.py
Owners: none

RNs + Meta
  Packs/Base/ReleaseNotes/1_31_59.md
  Packs/Base/pack_metadata.json
Owners: none

rm spam tag
  Packs/FeedCyrenThreatInDepth/pack_metadata.json
  Tests/Marketplace/approved_tags.json
Owners: @yaakovpraisler, @bakatzir, @GuyLibermanPA, @demisto/content-leaders

revert
  Packs/Workday/pack_metadata.json
Owners: none

replaced trendmicro api endpoint with mock
  Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneV3/TrendMicroVisionOneV3_test.py
Owners: none

DI
  Packs/PrismaAccess/Integrations/PrismaAccess/PrismaAccess.yml
  Packs/PrismaAccess/ReleaseNotes/1_0_13.md
Owners: none

bug - stix 2.0 indicator conventions (#24065)
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server.py
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server_test.py
  Packs/TAXIIServer/Integrations/TAXII2Server/test_data/sco_indicator_file.json
  Packs/TAXIIServer/ReleaseNotes/2_0_24.md
  Packs/TAXIIServer/pack_metadata.json
Owners: none

bug - stix 2.0 indicator conventions (#24065)
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server.py
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server_test.py
  Packs/TAXIIServer/Integrations/TAXII2Server/test_data/sco_indicator_file.json
  Packs/TAXIIServer/ReleaseNotes/2_0_24.md
  Packs/TAXIIServer/pack_metadata.json
Owners: none

bug - stix 2.0 indicator conventions (#24065)
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server.py
  Packs/TAXIIServer/Integrations/TAXII2Server/TAXII2Server_test.py
  Packs/TAXIIServer/Integrations/TAXII2Server/test_data/sco_indicator_file.json
  Packs/TAXIIServer/ReleaseNotes/2_0_24.md
  Packs/TAXIIServer/pack_metadata.json
Owners: none

SplunkPy - Support Closing Custom Status Labels on Mirror (#24057)
  Packs/SplunkPy/Integrations/SplunkPy/README.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.py
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.yml
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_description.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_test.py
  Packs/SplunkPy/ReleaseNotes/3_0_8.md
  Packs/SplunkPy/pack_metadata.json
Owners: @demisto/content-leaders

SplunkPy - Support Closing Custom Status Labels on Mirror (#24057)
  Packs/SplunkPy/Integrations/SplunkPy/README.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.py
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.yml
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_description.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_test.py
  Packs/SplunkPy/ReleaseNotes/3_0_8.md
  Packs/SplunkPy/pack_metadata.json
Owners: @demisto/content-leaders

SplunkPy - Support Closing Custom Status Labels on Mirror (#24057)
  Packs/SplunkPy/Integrations/SplunkPy/README.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.py
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy.yml
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_description.md
  Packs/SplunkPy/Integrations/SplunkPy/SplunkPy_test.py
  Packs/SplunkPy/ReleaseNotes/3_0_8.md
  Packs/SplunkPy/pack_metadata.json
Owners: @demisto/content-leaders

Rename 2_6_0.md to 2_5_8.md
  Packs/ServiceNow/ReleaseNotes/2_5_8.md
Owners: none

flake8 e501 fix
  Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneV3/TrendMicroVisionOneV3_test.py
Owners: none

Rename 2_5_9.md to 2_6_0.md
  Packs/ServiceNow/ReleaseNotes/2_6_0.md
Owners: none

Update pack_metadata.json
  Packs/ServiceNow/pack_metadata.json
Owners: none

add the filter
  Packs/PAN-OS/Integrations/Panorama/Panorama.yml
  Packs/PAN-OS/Integrations/Panorama/README.md
Owners: @GuyAfik

IfThenElse Enhancenment (#24229)
  Packs/FiltersAndTransformers/ReleaseNotes/1_2_8.md
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.js
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.yml
  Packs/FiltersAndTransformers/Scripts/IfThenElse/README.md
  Packs/FiltersAndTransformers/TestPlaybooks/playbook-IfThenElse-Test.yml
  Packs/FiltersAndTransformers/pack_metadata.json
Owners: none

IfThenElse Enhancenment (#24229)
  Packs/FiltersAndTransformers/ReleaseNotes/1_2_8.md
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.js
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.yml
  Packs/FiltersAndTransformers/Scripts/IfThenElse/README.md
  Packs/FiltersAndTransformers/TestPlaybooks/playbook-IfThenElse-Test.yml
  Packs/FiltersAndTransformers/pack_metadata.json
Owners: none

IfThenElse Enhancenment (#24229)
  Packs/FiltersAndTransformers/ReleaseNotes/1_2_8.md
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.js
  Packs/FiltersAndTransformers/Scripts/IfThenElse/IfThenElse.yml
  Packs/FiltersAndTransformers/Scripts/IfThenElse/README.md
  Packs/FiltersAndTransformers/TestPlaybooks/playbook-IfThenElse-Test.yml
  Packs/FiltersAndTransformers/pack_metadata.json
Owners: none

test
  Packs/CiscoWebExFeed/Integrations/CiscoWebExFeed/CiscoWebExFeed_test.py
Owners: none

Test fix
  Packs/Base/Scripts/CommonServerPython/CommonServerPython_test.py
Owners: none

pre demo updates & beautify
  Packs/PrismaCloud/Integrations/PrismaCloudV2/PrismaCloudV2.py
  Packs/PrismaCloud/Integrations/PrismaCloudV2/PrismaCloudV2.yml
  Packs/PrismaCloud/Integrations/PrismaCloudV2/PrismaCloudV2_description.md
Owners: none

Update MicrosoftGraphCalendar_description.md
  Packs/MicrosoftGraphCalendar/Integrations/MicrosoftGraphCalendar/MicrosoftGraphCalendar_description.md
Owners: none

Update MicrosoftGraphDeviceManagement_description.md
  Packs/MicrosoftGraphDeviceManagement/Integrations/MicrosoftGraphDeviceManagement/MicrosoftGraphDeviceManagement_description.md
Owners: none

Fix TrendMicroVisionOneV3 UT endpoints with mock (#24273)
  Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneV3/TrendMicroVisionOneV3_test.py
Owners: none

Fix TrendMicroVisionOneV3 UT endpoints with mock (#24273)
  Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneV3/TrendMicroVisionOneV3_test.py
Owners: none

Fix TrendMicroVisionOneV3 UT endpoints with mock (#24273)
  Packs/TrendMicroVisionOne/Integrations/TrendMicroVisionOneV3/TrendMicroVisionOneV3_test.py
Owners: none
